* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}
.app__header {
  position: sticky;
  top: 0;
     z-index: 1 ;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
    display: flex;
   justify-content: space-between;

}
.app__headerImage {
  width: 100px;
  object-fit: contain;
}
.app__loginContainer > Button {
  color: black;
}

.app__posts{
  padding: 20px;
  display: flex;
}
.app__signup{
  display: flex;
  flex-direction: column;
}

 .app > .app__embed{
  background-color: black;
}